@media(min-width:1201px){
        
        body{
            background-color: rgb(0, 187, 255);
        }

        #parrafo1{
            width: 33%;
            float: left;
        }
        #parrafo2{
            width: 33%;
            float: left;
        }
        #parrafo3{
            width: 33%;
            float: left;
        }

}

@media(min-width:601px) and (max-width:1200px){

        body{
            background-color: cadetblue;
        }

        #parrafo1{
            width: 30%;
            float: left;
            
            
        }
        #parrafo2{
            width: 70%;
            float: left;
            
        }
        #parrafo3{
            width: 70%;
            float: left;
            padding-left: 30%;
        }
}

@media(max-width:600px){
    
        body{
            background-color: coral;
        }

        #parrafo1{
            width: 100%;
        }
        #parrafo2{
            width: 100%;
        }
        #parrafo3{
            width: 100%;
        }
}

h1{
    text-align: center;
}

